.menu{
    display:block;
    position:fixed;
    right:0px;
    width:300px;
    height:200px;
    background:rgba(236,236,236,0.6);
    border:2px;
    border-radius:10px;
    box-shadow:0 0 20px 5px #4a4a4a;
}
.bar{
    width:100%;
    height:20px;
    background:#e1e1e1;
    border-radius:10px 10px 0 0;
}
.bottons{
    width:55px;
    height:20px;
    display:flex;
    margin:3px 3px;
}
.bottons div{
    width:12px;
    height:12px;
    border-radius:50%;
    margin:3px 3px;
    cursor:pointer;
}
.close{
    background:#ff5f57;
    boder:1px solid #e45952;
}
.hide{
    background:#ffdb2d;
    boder:1px solid #e1a73e;
}
.full{
    background:#27c93f;
    boder:1px solid #2bac2d;
}
.item{
    text-align:left;
}
.top{
    background:aqua;
}
.detail{
    background:#CCFFFF;
}
.last{
    background:#CCFFFF;
}
