.window{
    width: 900px;
    height: 500px;
    background-color: rgba(236,236,236,0.6);
    border: 1px solid #696969;
    border-radius: 10px;
    box-shadow: 0 0 20px 5px #4a4a4a;
    z-index: 0;
}
.titlebar{
    width: 100%;
    height: 25px;
    background: #e1e1e1;
    border-bottom: 1px solid #b6b6b6;
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: center;
}
p.windowtitle{
    width: 100%;
    margin-left: calc( -55px - 10px);
    font-size: 12px;
    text-align: center;
    cursor: default;
}
.buttons{
    width: 100px;
    height: 20px;
    display: flex;
    align-items: center;
    margin: 0 5px;
}
.buttons div{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 0 3px;
    cursor: pointer;
}
.buttons .close{
    background: #ff5f57;
    border: 1px solid #e45952;
}
.buttons .hide{
    background: #ffbd2d;
    border: 1px solid #e1a73e;
}
.buttons .full{
    background: #27c93f;
    border: 1px solid #2bac2d;
}
.windowinner{
    width: 100%;
    height: calc( 100% - 20px - 1px );
    display: flex;
}
.sidebar{
    width: 30%;
    height:100%;
    background-color:#008b8b;
    border-right: 1px solid #dfdfdf;
    border-radius: 0 0 0 10px;
}
.contents{
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 0 0 10px 0;
}
.item{
    left:0;
}

